## 完成ver.

In [54]:
#ライブラリのインポート
import geopandas as gpd
from osgeo import osr, ogr, gdal
from pyproj import CRS
from shapely.geometry import Point
import copy
from geopandas.tools import sjoin_nearest
import pandas as pd
import numpy as np

In [3]:
#道路データとマンホールデータのパス
road_path = "C:/Users/jin12/Desktop/pre_intern/14100 (1).gpkg"
point_path = "C:/Users/jin12/Desktop/pre_intern/drive-download-20230716T102550Z-001/manfp_marge.shp"

In [28]:
#道路データとマンホールデータをデータフレームで読み込む
road_data = gpd.read_file(road_path)
point_data = gpd.read_file(point_path)

In [85]:
#元データのコピーを作る
point_data_test = copy.deepcopy(point_data)
road_data_test = copy.deepcopy(road_data)

In [86]:
#座標測地系の確認
print(point_data_test.crs)

None

In [87]:
print(road_data_test.crs)

GEOGCS["JGD2011",DATUM["Japanese_Geodetic_Datum_2011",SPHEROID["GRS 1980",6378137,298.257222101],AUTHORITY["EPSG","1128"]],PRIMEM["Greenwich",0],UNIT["Degree",0.0174532925199433],AXIS["Longitude",EAST],AXIS["Latitude",NORTH]]

In [88]:
# インデックスをリセットして新しいカラムを作成
point_data_test = point_data_test.reset_index()  # インデックスをリセット
point_data_test['point_column'] = point_data_test.index  # 新しいカラムにインデックスを設定

# 結果を表示
point_data_test

In [89]:
#マンホールデータのCRSを4326にする
point_data_test = point_data_test.set_crs(epsg=6677)
point_data_test = point_data_test.to_crs(epsg=4326)
point_data_test

,ANGLE,FC,FUKASA,FUTAJIBAN1,FUTAJIBAN2,FUTAJIBAN3,FUTAJIBAN4,FUTAJIBAN5,FUTAKEY1,FUTAKEY2,...,NAIKEIV,PUMP,SISETU,SUISOKU,TAKASA,TYPE,YOTO,ZAISITU,ZANCHI,geometry
0,137.001700,12245,0.0,82.12,0.00,0.00,0.0,0.0,1,None,...,0.0,0,0,0,0.0,2,0,14,0,POINT (139.52655 35.59134)
1,93.124200,12144,0.0,0.00,0.00,0.00,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT (139.52654 35.59136)
2,114.999200,12244,0.0,0.00,0.00,0.00,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT (139.52634 35.59240)
3,62.999300,12144,0.0,0.00,0.00,0.00,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT (139.52636 35.59236)
4,122.000500,12244,0.0,0.00,0.00,0.00,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT (139.52634 35.59228)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615188,203.732706,12344,0.0,38.69,2.12,3.56,0.0,0.0,1,2,...,0.0,9,0,0,0.0,1,31,99,6,POINT (139.64986 35.54894)
615189,199.249267,12344,0.0,16.86,2.12,3.56,0.0,0.0,1,2,...,0.6,9,0,0,0.0,40,31,99,6,POINT (139.63280 35.52370)
615190,124.629046,12344,0.0,39.21,2.12,3.56,0.0,0.0,1,2,...,0.0,9,0,0,0.0,4,31,99,6,POINT (139.56299 35.53117)
615191,77.305967,12344,0.0,3.97,2.12,3.56,0.0,0.0,1,2,...,0.0,9,0,0,0.0,1,31,99,6,POINT (139.61734 35.52630)
615192,202.877326,12344,0.0,12.25,2.12,3.56,0.0,0.0,1,2,...,0.0,9,0,0,0.0,1,31,99,6,POINT (139.55077 35.52246)

In [90]:
# インデックスをリセットして新しいカラムを作成
road_data_test['road_column'] = road_data_test.index  # 新しいカラムにインデックスを設定

# 結果を表示
road_data_test

In [91]:
#道路データのCRSを4326にする
road_data_test = road_data_test.to_crs(epsg=4326)
road_data_test.head()

,WKT,rID,lfSpanFr,lfSpanTo,tmpFlg,orgGILvl,ftCode,admCode,devDate,type,...,N_KEN,N_CITY,KIGO_I,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,geometry
0,"MULTILINESTRING ((139.670389056 35.470258527,1...",50280-12768-i-111,2022/06/06,,0,25000,2711,,,庭園路,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.67039 35.47026, 139.6683..."
1,"MULTILINESTRING ((139.669480483 35.472380181,1...",50280-12768-i-118,2022/06/06,,0,2500,2711,,2017/10/24,庭園路,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66948 35.47238, 139.6692..."
2,"MULTILINESTRING ((139.669480483 35.472380181,1...",50280-12768-i-117,2022/06/06,,0,2500,2701,,2017/10/24,通常部,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66948 35.47238, 139.6701..."
3,"MULTILINESTRING ((139.668721043 35.467976544,1...",50280-12768-i-115,2022/06/06,,0,2500,2711,,2017/10/24,庭園路,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66872 35.46798, 139.6710..."
4,"MULTILINESTRING ((139.670150145 35.470816418,1...",50280-12768-i-119,2022/06/06,,0,2500,2701,,2017/10/24,通常部,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.67015 35.47082, 139.6703..."

In [11]:
# # GeoDataFrameをGeoJSONファイルに出力
# output_file = 'road_data.geojson'
# road_data_test.to_file(output_file, driver='GeoJSON')

In [92]:
#空間結合をする
result = gpd.sjoin_nearest(point_data_test, road_data_test, how="left",lsuffix='point',rsuffix='road')

c:\Users\jin12\anaconda3\envs\god\lib\site-packages\geopandas\array.py:344: UserWarning: Geometry is in a geographic CRS. Results from 'sjoin_nearest' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  warnings.warn(

In [94]:
result.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 620035 entries, 0 to 615192
Columns: 101 entries, ANGLE to KCODE1
dtypes: float64(14), geometry(1), int64(20), object(66)
memory usage: 482.5+ MB

In [83]:
# nameカラムの重複をなくした新しいGeoDataFrameを作成
result_final = result.drop_duplicates(subset='point_column')
result_final

,index,ANGLE,FC,FUKASA,FUTAJIBAN1,FUTAJIBAN2,FUTAJIBAN3,FUTAJIBAN4,FUTAJIBAN5,FUTAKEY1,...,N_KEN,N_CITY,KIGO_I,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,road_column
0,0,137.001700,12245,0.0,82.12,0.00,0.00,0.0,0.0,1,...,,,,46,4294,1476,139.531973,35.590041,1440-02,219309
1,1,93.124200,12144,0.0,0.00,0.00,0.00,0.0,0.0,None,...,,,,46,4294,1476,139.531973,35.590041,1440-02,219309
2,2,114.999200,12244,0.0,0.00,0.00,0.00,0.0,0.0,None,...,,,,46,4294,1476,139.531973,35.590041,1440-02,219318
3,3,62.999300,12144,0.0,0.00,0.00,0.00,0.0,0.0,None,...,,,,46,4294,1476,139.531973,35.590041,1440-02,219318
4,4,122.000500,12244,0.0,0.00,0.00,0.00,0.0,0.0,None,...,,,,46,4294,1476,139.531973,35.590041,1440-02,219318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615188,615188,203.732706,12344,0.0,38.69,2.12,3.56,0.0,0.0,1,...,,,,40,2396,1414,139.647306,35.548672,0530-01,100650
615189,615189,199.249267,12344,0.0,16.86,2.12,3.56,0.0,0.0,1,...,,,,34,2197,1224,139.631839,35.525565,0310-01,98234
615190,615190,124.629046,12344,0.0,39.21,2.12,3.56,0.0,0.0,1,...,,,,39,3155,1182,139.568814,35.52723,0010-01,220980
615191,615191,77.305967,12344,0.0,3.97,2.12,3.56,0.0,0.0,1,...,,,,51,3043,1326,139.618677,35.523097,0291-07,96781
615192,615192,202.877326,12344,0.0,12.25,2.12,3.56,0.0,0.0,1,...,,,,61,4528,1924,139.550693,35.525544,0200-02,227792

In [97]:
result_final.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 615193 entries, 0 to 615192
Columns: 104 entries, index to road_column
dtypes: float64(14), geometry(1), int64(23), object(66)
memory usage: 492.8+ MB

In [95]:
result_final_delite = result_final.drop(["index","point_column","road_column"], axis=1)
result_final_delite.head()

,ANGLE,FC,FUKASA,FUTAJIBAN1,FUTAJIBAN2,FUTAJIBAN3,FUTAJIBAN4,FUTAJIBAN5,FUTAKEY1,FUTAKEY2,...,KIGO_D,N_KEN,N_CITY,KIGO_I,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1
0,137.0017,12245,0.0,82.12,0.0,0.0,0.0,0.0,1,None,...,,,,,46,4294,1476,139.531973,35.590041,1440-02
1,93.1242,12144,0.0,0.00,0.0,0.0,0.0,0.0,None,None,...,,,,,46,4294,1476,139.531973,35.590041,1440-02
2,114.9992,12244,0.0,0.00,0.0,0.0,0.0,0.0,None,None,...,,,,,46,4294,1476,139.531973,35.590041,1440-02
3,62.9993,12144,0.0,0.00,0.0,0.0,0.0,0.0,None,None,...,,,,,46,4294,1476,139.531973,35.590041,1440-02
4,122.0005,12244,0.0,0.00,0.0,0.0,0.0,0.0,None,None,...,,,,,46,4294,1476,139.531973,35.590041,1440-02

In [96]:
result_final_delite.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 615193 entries, 0 to 615192
Columns: 101 entries, ANGLE to KCODE1
dtypes: float64(14), geometry(1), int64(20), object(66)
memory usage: 478.7+ MB

In [93]:
result_final.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 615193 entries, 0 to 615192
Columns: 104 entries, index to road_column
dtypes: float64(14), geometry(1), int64(23), object(66)
memory usage: 492.8+ MB

In [ ]:
# # GeoDataFrameをGeoJSONファイルに出力
# output_file = 'output.geojson'
# result.to_file(output_file, driver='GeoJSON')

In [84]:
# GeoDataFrameをGeoJSONファイルに出力
output_file = 'pre_intern.geojson'
result_final_delite.to_file(output_file, driver='GeoJSON')

## 確認作業

In [52]:
road_data_test_check = road_data_test[road_data_test.duplicated(subset="rID",keep=False)]
rid = road_data_test_check["rID"].unique()
print(rid.size)

1238

In [21]:
result_check = result[["point_column","road_column", "geometry","rID"]]

In [82]:
# nameカラムの中でユニークな値の数を調べる
num_unique_names = result_check['point_column'].nunique()

# 結果を表示
print("nameカラムの中でユニークな値の数:", num_unique_names)

nameカラムの中でユニークな値の数: 615193

In [76]:
# nameカラムで重複しているデータかつpopulationカラムで重複していないデータを抽出する
duplicates_in_name = result_check[result_check.duplicated(subset='point_column', keep=False)]
unique_in_population = result_check.drop_duplicates(subset='rID', keep=False)

tyotyohuku = duplicates_in_name.merge(unique_in_population, on='rID', how='inner')

# 不要なカラムを削除して新しいデータフレームに代入
tyotyohuku = tyotyohuku.drop(["index_x", "point_column_x", "road_column_x", "geometry_x", "result_column_x"], axis=1)

In [78]:


# tyotyohukuをGeoDataFrameに変換する
tyotyohuku_gdf = gpd.GeoDataFrame(tyotyohuku, geometry='geometry_y')

# GeoDataFrameをGeoJSONファイルに出力
output_file = 'tyotyohuku.geojson'
tyotyohuku.to_file(output_file, driver='GeoJSON')

AttributeError: 'DataFrame' object has no attribute 'to_file'

In [22]:
# インデックスをリセットして新しいカラムを作成
result_check = result_check.reset_index()  # インデックスをリセット
result_check['result_column'] = result_check.index  # 新しいカラムにインデックスを設定

# 結果を表示
result_check

,index,point_column,road_column,geometry,rID,result_column
0,0,0,219309,POINT (139.52655 35.59134),50229-12810-i-2601,0
1,1,1,219309,POINT (139.52654 35.59136),50229-12810-i-2601,1
2,2,2,219318,POINT (139.52634 35.59240),50229-12813-i-7971,2
3,3,3,219318,POINT (139.52636 35.59236),50229-12813-i-7971,3
4,4,4,219318,POINT (139.52634 35.59228),50229-12813-i-7971,4
...,...,...,...,...,...,...
620030,615188,615188,100650,POINT (139.64986 35.54894),50271-12795-i-2471,620030
620031,615189,615189,98234,POINT (139.63280 35.52370),50265-12786-i-4650,620031
620032,615190,615190,220980,POINT (139.56299 35.53117),50241-12789-i-2624,620032
620033,615191,615191,96781,POINT (139.61734 35.52630),50262-12789-i-5439,620033
620034,615192,615192,227792,POINT (139.55077 35.52246),50238-12786-i-2431,620034

In [73]:
# result_check[result_check["point_column"]==1507]

,index,point_column,road_column,geometry,result_column
1511,1507,1507,219270,POINT (139.54218 35.58831),1511
1512,1507,1507,219267,POINT (139.54218 35.58831),1512

In [58]:
# # GeoDataFrameをGeoJSONファイルに出力
# output_file = 'result_check.geojson'
# result_check.to_file(output_file, driver='GeoJSON')

In [23]:
result_check.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 620035 entries, 0 to 620034
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   index          620035 non-null  int64
 1   point_column   620035 non-null  int64
 2   road_column    620035 non-null  int64
 3   geometry       620035 non-null  geometry
 4   rID            620035 non-null  object
 5   result_column  620035 non-null  int64
dtypes: geometry(1), int64(4), object(1)
memory usage: 28.4+ MB

In [68]:
# poi
result_check[result_check.duplicated(subset="point_column")].head(50)

,index,point_column,road_column,geometry,result_column
1511,1507,1507,219270,POINT (139.54218 35.58831),1511
1512,1507,1507,219267,POINT (139.54218 35.58831),1512

In [24]:
# 重複している値を抽出
duplicates = result_check[result_check.duplicated(subset="point_column", keep=False)]

# 重複している値を表示
print(duplicates)

         index  point_column  road_column                    geometry  \
1010      1010          1010       219488  POINT (139.53459 35.58931)
1011      1010          1010       219481  POINT (139.53459 35.58931)
1012      1010          1010       219482  POINT (139.53459 35.58931)
1158      1156          1156       219501  POINT (139.53638 35.58868)
1159      1156          1156       219503  POINT (139.53638 35.58868)
...        ...           ...          ...                         ...
618953  614113        614113       182576  POINT (139.56361 35.36323)
619108  614268        614268       227608  POINT (139.54759 35.53108)
619109  614268        614268       227258  POINT (139.54759 35.53108)
619584  614743        614743        65879  POINT (139.62027 35.42600)
619585  614743        614743        43360  POINT (139.62027 35.42600)

                       rID  result_column
1010    50232-12810-i-2426           1010
1011    50232-12810-i-2522           1011
1012    50232-12810-i-2518           1012
1158    50232-12810-i-2525           1158
1159    50232-12810-i-2544           1159
...                    ...            ...
618953  50241-12729-i-2987         618953
619108  50235-12789-i-2896         619108
619109  50235-12789-i-2896         619109
619584  50262-12753-i-2065         619584
619585  50262-12753-i-2065         619585

[9418 rows x 6 columns]

In [53]:
duplicates_rid = result_check[result_check.duplicated(subset=["point_column","rID"], keep=False)]
rid_1 = duplicates_rid["rID"].unique()
print(rid_1.size)

966

In [56]:
# 重複がない要素を抽出する
unique_elements_in_rid = np.setdiff1d(rid, rid_1)
unique_elements_in_rid_1 = np.setdiff1d(rid_1, rid)

# 結果を表示
print("重複がない要素（rid）:", unique_elements_in_rid)
print("重複がない要素（rid_1）:", unique_elements_in_rid_1)
print(unique_elements_in_rid.size)

重複がない要素（rid）: ['50208-12774-i-4265' '50211-12753-i-2854' '50211-12759-i-3267'
 '50211-12762-i-3527' '50214-12741-i-2499' '50214-12741-i-2571'
 '50214-12741-i-2770' '50214-12747-i-2325' '50214-12753-i-1136'
 '50214-12762-i-2244' '50214-12762-i-2446' '50214-12777-i-1859'
 '50217-12741-i-2922' '50217-12741-i-2958' '50217-12744-i-2554'
 '50217-12744-i-2659' '50217-12750-i-2189' '50217-12750-i-2191'
 '50217-12750-i-2223' '50217-12780-i-1604' '50217-12798-i-2184'
 '50220-12750-i-2099' '50220-12750-i-2221' '50220-12759-i-2874'
 '50220-12765-i-4274' '50220-12801-i-3749' '50223-12735-i-1649'
 '50223-12738-i-1270' '50223-12744-i-2093' '50223-12744-i-2101'
 '50223-12747-i-1761' '50223-12747-i-1837' '50223-12750-i-3656'
 '50223-12753-i-2605' '50223-12756-i-3063' '50223-12762-i-3095'
 '50223-12768-i-4355' '50223-12768-i-4413' '50223-12768-i-4764'
 '50223-12777-i-2256' '50223-12777-i-2339' '50223-12789-i-3356'
 '50223-12795-i-2512' '50223-12801-i-4139' '50226-12735-i-1369'
 '50226-12741-i-1849' '50226-12744-i-2181' '50226-12744-i-2242'
 '50226-12747-i-1771' '50226-12747-i-1812' '50226-12753-i-3598'
 '50226-12762-i-3297' '50226-12762-i-3481' '50226-12762-i-3627'
 '50226-12804-i-3502' '50229-12786-i-2369' '50229-12789-i-3333'
 '50229-12795-i-3067' '50232-12735-i-1730' '50232-12783-i-3868'
 '50232-12792-i-2109' '50235-12738-i-1413' '50235-12759-i-811'
 '50235-12789-i-2869' '50238-12729-i-2508' '50238-12732-i-2867'
 '50238-12732-i-3027' '50238-12735-i-1434' '50238-12750-i-2109'
 '50238-12762-i-1662' '50238-12762-i-1912' '50238-12765-i-2879'
 '50238-12765-i-3059' '50238-12771-i-4097' '50238-12771-i-4150'
 '50238-12792-i-3420' '50238-12795-i-2710' '50238-12798-i-3799'
 '50238-12804-i-3957' '50238-12810-i-4815' '50241-12735-i-1365'
 '50241-12747-i-1704' '50241-12762-i-2121' '50241-12765-i-3565'
 '50241-12792-i-1477' '50241-12795-i-3831' '50241-12801-i-4387'
 '50241-12801-i-4553' '50241-12804-i-3817' '50244-12726-i-2475'
 '50244-12732-i-3443' '50244-12732-i-3649' '50244-12744-i-1797'
 '50244-12747-i-1582' '50244-12765-i-2683' '50244-12774-i-4106'
 '50244-12786-i-2254' '50244-12786-i-2261' '50244-12792-i-1784'
 '50244-12792-i-1786' '50244-12792-i-1855' '50244-12804-i-8416'
 '50247-12732-i-1803' '50247-12732-i-1925' '50247-12744-i-1586'
 '50247-12744-i-1673' '50247-12747-i-1655' '50247-12747-i-2059'
 '50247-12762-i-3245' '50247-12768-i-3673' '50247-12771-i-3598'
 '50247-12771-i-3741' '50247-12771-i-3765' '50247-12771-i-3817'
 '50247-12771-i-4033' '50247-12774-i-2540' '50247-12783-i-2476'
 '50247-12789-i-2519' '50247-12789-i-2577' '50247-12801-i-4865'
 '50250-12747-i-1595' '50250-12747-i-1684' '50250-12747-i-1687'
 '50250-12756-i-2556' '50250-12759-i-2308' '50250-12780-i-5479'
 '50250-12795-i-4363' '50250-12795-i-4472' '50250-12798-i-5110'
 '50250-12798-i-5523' '50253-12726-i-635' '50253-12732-i-1877'
 '50253-12738-i-1699' '50253-12738-i-2057' '50253-12744-i-1715'
 '50253-12750-i-2497' '50253-12753-i-2530' '50253-12753-i-2601'
 '50253-12753-i-2702' '50253-12756-i-2543' '50253-12765-i-3996'
 '50253-12765-i-4217' '50253-12765-i-4302' '50253-12765-i-4342'
 '50253-12768-i-3255' '50253-12777-i-4194' '50253-12780-i-5026'
 '50253-12789-i-5018' '50253-12789-i-5271' '50253-12792-i-4116'
 '50253-12795-i-3666' '50256-12738-i-1768' '50256-12744-i-1813'
 '50256-12753-i-2056' '50256-12753-i-2127' '50256-12759-i-2048'
 '50256-12762-i-1740' '50256-12777-i-4550' '50256-12798-i-3696'
 '50256-12801-i-4921' '50259-12714-i-3625' '50259-12726-i-1955'
 '50259-12732-i-2051' '50259-12741-i-2118' '50259-12744-i-1152'
 '50259-12747-i-1659' '50259-12756-i-1960' '50259-12756-i-2002'
 '50259-12765-i-4207' '50259-12783-i-3423' '50259-12783-i-3443'
 '50259-12795-i-3828' '50259-12798-i-3993' '50259-12798-i-4180'
 '50259-12801-i-5016' '50262-12726-i-2068' '50262-12732-i-2101'
 '50262-12747-i-1797' '50262-12750-i-2515' '50262-12750-i-2617'
 '50262-12750-i-2676' '50262-12753-i-2438' '50262-12753-i-2452'
 '50262-12756-i-2398' '50262-12756-i-2660' '50262-12756-i-2678'
 '50262-12756-i-2856' '50262-12756-i-2998' '50262-12759-i-2310'
 '50262-12759-i-2345' '50262-12762-i-2581' '50262-12774-i-5776'
 '50262-12777-i-5962' '50262-12792-i-5893' '50262-12792-i-6108'
 '50265-12756-i-3801' '50265-12756-i-4264' '50265-12756-i-4272'
 '50265-12756-i-4288' '50265-12768-i-2859' '50265-12771-i-3640'
 '50265-12774-i-3845' '50265-12780-i-5749' '50265-12783-i-4485'
 '50265-12783-i-4511' '50265-12783-i-4595' '50265-12786-i-4748'
 '50265-12786-i-4759' '50265-12789-i-5452' '50265-12792-i-3717'
 '50268-12723-i-2364' '50268-12726-i-1119' '50268-12753-i-6032'
 '50268-12756-i-4905' '50268-12756-i-4979' '50268-12759-i-3456'
 '50268-12762-i-1095' '50268-12762-i-1102' '50268-12774-i-3874'
 '50268-12774-i-3899' '50268-12774-i-4454' '50268-12783-i-5122'
 '50268-12786-i-3995' '50268-12792-i-3226' '50268-12795-i-2645'
 '50268-12795-i-2749' '50268-12801-i-8055' '50271-12753-i-4778'
 '50271-12753-i-4780' '50271-12756-i-4573' '50271-12756-i-4641'
 '50271-12756-i-4801' '50271-12780-i-4396' '50271-12783-i-5350'
 '50271-12786-i-3342' '50274-12753-i-4321' '50274-12774-i-2622'
 '50274-12774-i-2918' '50274-12783-i-5038' '50274-12786-i-3932'
 '50274-12786-i-4289' '50274-12786-i-4292' '50274-12786-i-4304'
 '50274-12789-i-3470' '50274-12789-i-3481' '50274-12792-i-5178'
 '50274-12792-i-5244' '50274-12795-i-5097' '50277-12750-i-3355'
 '50277-12750-i-3396' '50277-12777-i-2678' '50277-12780-i-4486'
 '50277-12783-i-4821' '50277-12789-i-5814' '50277-12792-i-5214'
 '50280-12750-i-2797' '50280-12786-i-4662' '50280-12789-i-5057'
 '50283-12777-i-1822' '50283-12777-i-1927' '50283-12780-i-3340'
 '50283-12780-i-3475' '50283-12780-i-3499' '50283-12786-i-1415'
 '50283-12786-i-1435' '50283-12786-i-1519' '50283-12792-i-4347'
 '50286-12777-i-1549' '50286-12780-i-2418' '50286-12786-i-4957'
 '50289-12780-i-4191' '50289-12780-i-4192']
重複がない要素（rid_1）: []
272

In [57]:
# GeoDataFrameとNumPy配列の共通の要素を抽出する
common_rows = road_data_test[road_data_test['rID'].isin(unique_elements_in_rid)]

# 結果を表示
print(common_rows)

                                                      WKT                 rID  \
1109    MULTILINESTRING ((139.659747181 35.495683806,1...  50277-12777-i-2678
1737    MULTILINESTRING ((139.66500968 35.514780653,13...  50277-12783-i-4821
2246    MULTILINESTRING ((139.646394587 35.504460848,1...  50271-12780-i-4396
2362    MULTILINESTRING ((139.647691556 35.510961417,1...  50271-12783-i-5350
2734    MULTILINESTRING ((139.657230736 35.511559625,1...  50274-12783-i-5038
...                                                   ...                 ...
234359  MULTILINESTRING ((139.606047722 35.560402833,1...  50256-12801-i-4921
234819  MULTILINESTRING ((139.600785194 35.550705722,1...  50256-12798-i-3696
234853  MULTILINESTRING ((139.584095554 35.558329131,1...  50250-12798-i-5110
234913  MULTILINESTRING ((139.587783468 35.554155672,1...  50250-12798-i-5523
235408  MULTILINESTRING ((139.567854552 35.536448777,1...  50244-12792-i-1855

          lfSpanFr lfSpanTo tmpFlg orgGILvl ftCode admCode devDate type  ...  \
1109    2022/06/06               0    25000   2701                  通常部  ...
1737    2022/06/06               0    25000   2701                  通常部  ...
2246    2022/06/06               0    25000   2701                  通常部  ...
2362    2022/06/06               0    25000   2701                  通常部  ...
2734    2022/06/06               0    25000   2701                  通常部  ...
...            ...      ...    ...      ...    ...     ...     ...  ...  ...
234359  2022/06/06               0     2500   2701                  通常部  ...
234819  2022/06/06               0     2500   2701                  通常部  ...
234853  2022/06/06               0     2500   2701                  通常部  ...
234913  2022/06/06               0     2500   2701                  通常部  ...
235408  2022/06/06               0     2500   2701                  通常部  ...

       N_CITY KIGO_I KBSUM JINKO SETAI      X_CODE     Y_CODE   KCODE1  \
1109                    26  2054  1024  139.660953  35.495398  0080-02
1737                    21  1881   904  139.668488  35.515805  0160-00
2246                    29  2398  1121  139.645039  35.506076  0190-01
2362                    35  2806  1200  139.649427  35.508637  0190-02
2734                    41  2712  1147  139.657815  35.508813  0190-04
...       ...    ...   ...   ...   ...         ...        ...      ...
234359                  54  2589  1001  139.606674  35.562931  0420-04
234819                  46  2083   869  139.597523   35.55297  0450-00
234853                  21  2378   879  139.585624  35.556779  0460-01
234913                  21  2378   879  139.585624  35.556779  0460-01
235408                  28  1381   471   139.56963  35.535534  0520-00

                                                 geometry road_column
1109    MULTILINESTRING ((139.65975 35.49568, 139.6597...        1109
1737    MULTILINESTRING ((139.66501 35.51478, 139.6649...        1737
2246    MULTILINESTRING ((139.64639 35.50446, 139.6463...        2246
2362    MULTILINESTRING ((139.64769 35.51096, 139.6479...        2362
2734    MULTILINESTRING ((139.65723 35.51156, 139.6572...        2734
...                                                   ...         ...
234359  MULTILINESTRING ((139.60605 35.56040, 139.6058...      234359
234819  MULTILINESTRING ((139.60079 35.55071, 139.6011...      234819
234853  MULTILINESTRING ((139.58410 35.55833, 139.5841...      234853
234913  MULTILINESTRING ((139.58778 35.55416, 139.5875...      234913
235408  MULTILINESTRING ((139.56785 35.53645, 139.5677...      235408

[544 rows x 57 columns]

In [58]:
# 道路データの重複を出力
output_file = 'common_rows.geojson'
common_rows.to_file(output_file, driver='GeoJSON')

In [18]:
# 重複している値を抽出
duplicates_duplicates = duplicates[duplicates.duplicated(subset="road_column", keep=False)]
duplicates_duplicates

,index,point_column,road_column,geometry,result_column
1511,1507,1507,219270,POINT (139.54218 35.58831),1511
1512,1507,1507,219267,POINT (139.54218 35.58831),1512
2103,2098,2098,219180,POINT (139.53698 35.58784),2103
2104,2098,2098,219781,POINT (139.53698 35.58784),2104
2178,2172,2172,219180,POINT (139.53705 35.58788),2178
...,...,...,...,...,...
618953,614113,614113,182576,POINT (139.56361 35.36323),618953
619108,614268,614268,227608,POINT (139.54759 35.53108),619108
619109,614268,614268,227258,POINT (139.54759 35.53108),619109
619584,614743,614743,65879,POINT (139.62027 35.42600),619584
619585,614743,614743,43360,POINT (139.62027 35.42600),619585

In [27]:
# 重複している値を抽出
duplicates_road = road_data_test[road_data_test.duplicated(subset="rID", keep=False)]

# 重複している値を表示
duplicates_road.head()

,WKT,rID,lfSpanFr,lfSpanTo,tmpFlg,orgGILvl,ftCode,admCode,devDate,type,...,N_CITY,KIGO_I,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,geometry,road_column
324,"MULTILINESTRING ((139.667650556 35.493152583,1...",50280-12777-i-2877,2022/06/06,,0,25000,2701,,,通常部,...,,,36,1981,1360,139.665293,35.490894,0030-01,"MULTILINESTRING ((139.66765 35.49315, 139.6678...",324
583,"MULTILINESTRING ((139.667650556 35.493152583,1...",50280-12777-i-2877,2022/06/06,,0,25000,2701,,,通常部,...,,,43,3829,2406,139.669172,35.49454,0030-03,"MULTILINESTRING ((139.66765 35.49315, 139.6678...",583
950,"MULTILINESTRING ((139.66174954 35.494103142,13...",50277-12777-i-2557,2022/06/06,,0,25000,2701,,,通常部,...,,,31,2470,1302,139.663592,35.495097,0080-01,"MULTILINESTRING ((139.66175 35.49410, 139.6615...",950
969,"MULTILINESTRING ((139.663193444 35.497948222,1...",50277-12777-i-2500,2022/06/06,,0,25000,2701,,,通常部,...,,,31,2470,1302,139.663592,35.495097,0080-01,"MULTILINESTRING ((139.66319 35.49795, 139.6630...",969
1031,"MULTILINESTRING ((139.66174954 35.494103142,13...",50277-12777-i-2557,2022/06/06,,0,25000,2701,,,通常部,...,,,26,2054,1024,139.660953,35.495398,0080-02,"MULTILINESTRING ((139.66175 35.49410, 139.6615...",1031

In [18]:
duplicates_road_new = duplicates_road.drop(["road_column"], axis=1)
duplicates_road_new

,WKT,rID,lfSpanFr,lfSpanTo,tmpFlg,orgGILvl,ftCode,admCode,devDate,type,...,N_KEN,N_CITY,KIGO_I,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,geometry
324,"MULTILINESTRING ((139.667650556 35.493152583,1...",50280-12777-i-2877,2022/06/06,,0,25000,2701,,,通常部,...,,,,36,1981,1360,139.665293,35.490894,0030-01,"MULTILINESTRING ((139.66765 35.49315, 139.6678..."
583,"MULTILINESTRING ((139.667650556 35.493152583,1...",50280-12777-i-2877,2022/06/06,,0,25000,2701,,,通常部,...,,,,43,3829,2406,139.669172,35.49454,0030-03,"MULTILINESTRING ((139.66765 35.49315, 139.6678..."
950,"MULTILINESTRING ((139.66174954 35.494103142,13...",50277-12777-i-2557,2022/06/06,,0,25000,2701,,,通常部,...,,,,31,2470,1302,139.663592,35.495097,0080-01,"MULTILINESTRING ((139.66175 35.49410, 139.6615..."
969,"MULTILINESTRING ((139.663193444 35.497948222,1...",50277-12777-i-2500,2022/06/06,,0,25000,2701,,,通常部,...,,,,31,2470,1302,139.663592,35.495097,0080-01,"MULTILINESTRING ((139.66319 35.49795, 139.6630..."
1031,"MULTILINESTRING ((139.66174954 35.494103142,13...",50277-12777-i-2557,2022/06/06,,0,25000,2701,,,通常部,...,,,,26,2054,1024,139.660953,35.495398,0080-02,"MULTILINESTRING ((139.66175 35.49410, 139.6615..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235350,"MULTILINESTRING ((139.556403127 35.535433751,1...",50238-12792-i-3636,2022/06/06,,0,2500,2701,,,通常部,...,,,,44,2955,1136,139.554203,35.537279,0470-00,"MULTILINESTRING ((139.55640 35.53543, 139.5564..."
235356,"MULTILINESTRING ((139.553433847 35.533108621,1...",50238-12789-i-3463,2022/06/06,,0,2500,2701,,,通常部,...,,,,44,2955,1136,139.554203,35.537279,0470-00,"MULTILINESTRING ((139.55343 35.53311, 139.5536..."
235407,"MULTILINESTRING ((139.568377481 35.53644423,13...",50244-12792-i-1853,2022/06/06,,0,2500,2701,,,通常部,...,,,,28,1381,471,139.56963,35.535534,0520-00,"MULTILINESTRING ((139.56838 35.53644, 139.5689..."
235408,"MULTILINESTRING ((139.567854552 35.536448777,1...",50244-12792-i-1855,2022/06/06,,0,2500,2701,,,通常部,...,,,,28,1381,471,139.56963,35.535534,0520-00,"MULTILINESTRING ((139.56785 35.53645, 139.5677..."
235424,"MULTILINESTRING ((139.568289879 35.534415781,1...",50244-12792-i-1767,2022/06/06,,0,2500,2701,,,通常部,...,,,,28,1381,471,139.56963,35.535534,0520-00,"MULTILINESTRING ((139.56829 35.53442, 139.5683..."

In [19]:
# 重複している値を抽出
duplicates_road_new_check = duplicates_road_new[duplicates_road_new.duplicated(keep=False)]
duplicates_road_new_check

Empty GeoDataFrame
Columns: [WKT, rID, lfSpanFr, lfSpanTo, tmpFlg, orgGILvl, ftCode, admCode, devDate, type, rdCtg, state, lvOrder, name, admOfcRd, rnkWidth, Width, sectID, tollSect, medSect, motorway, repLtdLvl, rtCode, lat, lon, fid_2, KEY_CODE, PREF, CITY, S_AREA, PREF_NAME, CITY_NAME, S_NAME, KIGO_E, HCODE, AREA, PERIMETER, R2KAxx, R2KAxx_ID, KIHON1, DUMMY1, KIHON2, KEYCODE1, KEYCODE2, AREA_MAX_F, KIGO_D, N_KEN, N_CITY, KIGO_I, KBSUM, JINKO, SETAI, X_CODE, Y_CODE, KCODE1, geometry]
Index: []

[0 rows x 56 columns]

In [13]:
# 道路データの重複を出力
output_file = 'duplicates_road.geojson'
duplicates_road.to_file(output_file, driver='GeoJSON')

In [72]:
duplicates[duplicates["point_column"]==1507]

,index,point_column,road_column,geometry,result_column
1512,1507,1507,219267,POINT (139.54218 35.58831),1512

In [77]:
# GeoDataFrameをGeoJSONファイルに出力
output_file = 'duplicates.geojson'
duplicates.to_file(output_file, driver='GeoJSON')

In [ ]:
# GeoDataFrameをGeoJSONファイルに出力
output_file = 'result_check.geojson'
result_check.to_file(output_file, driver='GeoJSON')

In [78]:
point_data_test.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 615193 entries, 0 to 615192
Data columns (total 47 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   index         615193 non-null  int64
 1   ANGLE         615193 non-null  float64
 2   FC            615193 non-null  int64
 3   FUKASA        615193 non-null  float64
 4   FUTAJIBAN1    615193 non-null  float64
 5   FUTAJIBAN2    615193 non-null  float64
 6   FUTAJIBAN3    615193 non-null  float64
 7   FUTAJIBAN4    615193 non-null  float64
 8   FUTAJIBAN5    615193 non-null  float64
 9   FUTAKEY1      133943 non-null  object
 10  FUTAKEY2      8019 non-null    object
 11  FUTAKEY3      4030 non-null    object
 12  FUTAKEY4      46 non-null      object
 13  FUTAKEY5      11 non-null      object
 14  FUTASUU       615193 non-null  int64
 15  G1KANRI       574383 non-null  object
 16  G1KYOKA       1 non-null       object
 17  G1KYOKAYMD    615193 non-null  int64
 18  G2KANRI       574387 non-null  object
 19  G2KYOKA       394898 non-null  object
 20  G2KYOKAYMD    615193 non-null  int64
 21  GAIKEIH       615193 non-null  float64
 22  GAIKEIV       615193 non-null  float64
 23  HAIJYO        615193 non-null  int64
 24  HIKITUGI      512267 non-null  object
 25  JIBANTAKA     615193 non-null  float64
 26  JINSIN        615193 non-null  float64
 27  JINX          615193 non-null  int64
 28  JINY          615193 non-null  int64
 29  KAIDAN        615193 non-null  int64
 30  KANEDA        615193 non-null  int64
 31  KENSETUYMD    615193 non-null  int64
 32  KEY           615193 non-null  object
 33  KITEN         615193 non-null  int64
 34  KUMITATE      615193 non-null  int64
 35  NAIKEIH       615193 non-null  float64
 36  NAIKEIV       615193 non-null  float64
 37  PUMP          615193 non-null  int64
 38  SISETU        615193 non-null  int64
 39  SUISOKU       615193 non-null  int64
 40  TAKASA        615193 non-null  float64
 41  TYPE          615193 non-null  int64
 42  YOTO          615193 non-null  int64
 43  ZAISITU       615193 non-null  int64
 44  ZANCHI        615193 non-null  int64
 45  geometry      615193 non-null  geometry
 46  point_column  615193 non-null  int64
dtypes: float64(14), geometry(1), int64(21), object(11)
memory usage: 220.6+ MB

In [23]:
# pandasのoptionsを設定してカラム情報を全て表示
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', None)
pd.set_option('display.expand_frame_repr', False)

# データフレームの情報を表示
print(result.info(verbose=True))

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 620035 entries, 0 to 615192
Data columns (total 101 columns):
 #    Column      Dtype
---   ------      -----
 0    ANGLE       float64
 1    FC          int64
 2    FUKASA      float64
 3    FUTAJIBAN1  float64
 4    FUTAJIBAN2  float64
 5    FUTAJIBAN3  float64
 6    FUTAJIBAN4  float64
 7    FUTAJIBAN5  float64
 8    FUTAKEY1    object
 9    FUTAKEY2    object
 10   FUTAKEY3    object
 11   FUTAKEY4    object
 12   FUTAKEY5    object
 13   FUTASUU     int64
 14   G1KANRI     object
 15   G1KYOKA     object
 16   G1KYOKAYMD  int64
 17   G2KANRI     object
 18   G2KYOKA     object
 19   G2KYOKAYMD  int64
 20   GAIKEIH     float64
 21   GAIKEIV     float64
 22   HAIJYO      int64
 23   HIKITUGI    object
 24   JIBANTAKA   float64
 25   JINSIN      float64
 26   JINX        int64
 27   JINY        int64
 28   KAIDAN      int64
 29   KANEDA      int64
 30   KENSETUYMD  int64
 31   KEY         object
 32   KITEN       int64
 33   KUMITATE    int64
 34   NAIKEIH     float64
 35   NAIKEIV     float64
 36   PUMP        int64
 37   SISETU      int64
 38   SUISOKU     int64
 39   TAKASA      float64
 40   TYPE        int64
 41   YOTO        int64
 42   ZAISITU     int64
 43   ZANCHI      int64
 44   geometry    geometry
 45   index_road  int64
 46   WKT         object
 47   rID         object
 48   lfSpanFr    object
 49   lfSpanTo    object
 50   tmpFlg      object
 51   orgGILvl    object
 52   ftCode      object
 53   admCode     object
 54   devDate     object
 55   type        object
 56   rdCtg       object
 57   state       object
 58   lvOrder     object
 59   name        object
 60   admOfcRd    object
 61   rnkWidth    object
 62   Width       object
 63   sectID      object
 64   tollSect    object
 65   medSect     object
 66   motorway    object
 67   repLtdLvl   object
 68   rtCode      object
 69   lat         object
 70   lon         object
 71   fid_2       object
 72   KEY_CODE    object
 73   PREF        object
 74   CITY        object
 75   S_AREA      object
 76   PREF_NAME   object
 77   CITY_NAME   object
 78   S_NAME      object
 79   KIGO_E      object
 80   HCODE       object
 81   AREA        object
 82   PERIMETER   object
 83   R2KAxx      object
 84   R2KAxx_ID   object
 85   KIHON1      object
 86   DUMMY1      object
 87   KIHON2      object
 88   KEYCODE1    object
 89   KEYCODE2    object
 90   AREA_MAX_F  object
 91   KIGO_D      object
 92   N_KEN       object
 93   N_CITY      object
 94   KIGO_I      object
 95   KBSUM       object
 96   JINKO       object
 97   SETAI       object
 98   X_CODE      object
 99   Y_CODE      object
 100  KCODE1      object
dtypes: float64(14), geometry(1), int64(20), object(66)
memory usage: 482.5+ MB
None

In [ ]:
# 重複している値を抽出
duplicates = result[result["geometry"].duplicated()]

# 重複している値を表示
print(duplicates)

In [ ]:
point_data_test.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 615193 entries, 0 to 615192
Data columns (total 45 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ANGLE       615193 non-null  float64
 1   FC          615193 non-null  int64
 2   FUKASA      615193 non-null  float64
 3   FUTAJIBAN1  615193 non-null  float64
 4   FUTAJIBAN2  615193 non-null  float64
 5   FUTAJIBAN3  615193 non-null  float64
 6   FUTAJIBAN4  615193 non-null  float64
 7   FUTAJIBAN5  615193 non-null  float64
 8   FUTAKEY1    133943 non-null  object
 9   FUTAKEY2    8019 non-null    object
 10  FUTAKEY3    4030 non-null    object
 11  FUTAKEY4    46 non-null      object
 12  FUTAKEY5    11 non-null      object
 13  FUTASUU     615193 non-null  int64
 14  G1KANRI     574383 non-null  object
 15  G1KYOKA     1 non-null       object
 16  G1KYOKAYMD  615193 non-null  int64
 17  G2KANRI     574387 non-null  object
 18  G2KYOKA     394898 non-null  object
 19  G2KYOKAYMD  615193 non-null  int64
 20  GAIKEIH     615193 non-null  float64
 21  GAIKEIV     615193 non-null  float64
 22  HAIJYO      615193 non-null  int64
 23  HIKITUGI    512267 non-null  object
 24  JIBANTAKA   615193 non-null  float64
 25  JINSIN      615193 non-null  float64
 26  JINX        615193 non-null  int64
 27  JINY        615193 non-null  int64
 28  KAIDAN      615193 non-null  int64
 29  KANEDA      615193 non-null  int64
 30  KENSETUYMD  615193 non-null  int64
 31  KEY         615193 non-null  object
 32  KITEN       615193 non-null  int64
 33  KUMITATE    615193 non-null  int64
 34  NAIKEIH     615193 non-null  float64
 35  NAIKEIV     615193 non-null  float64
 36  PUMP        615193 non-null  int64
 37  SISETU      615193 non-null  int64
 38  SUISOKU     615193 non-null  int64
 39  TAKASA      615193 non-null  float64
 40  TYPE        615193 non-null  int64
 41  YOTO        615193 non-null  int64
 42  ZAISITU     615193 non-null  int64
 43  ZANCHI      615193 non-null  int64
 44  geometry    615193 non-null  geometry
dtypes: float64(14), geometry(1), int64(19), object(11)
memory usage: 211.2+ MB

In [ ]:
road_data_test.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 235611 entries, 0 to 235610
Data columns (total 56 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   WKT         235611 non-null  object
 1   rID         235611 non-null  object
 2   lfSpanFr    235611 non-null  object
 3   lfSpanTo    235611 non-null  object
 4   tmpFlg      235611 non-null  object
 5   orgGILvl    235611 non-null  object
 6   ftCode      235611 non-null  object
 7   admCode     235611 non-null  object
 8   devDate     235611 non-null  object
 9   type        235611 non-null  object
 10  rdCtg       235611 non-null  object
 11  state       235611 non-null  object
 12  lvOrder     235611 non-null  object
 13  name        235611 non-null  object
 14  admOfcRd    235611 non-null  object
 15  rnkWidth    235611 non-null  object
 16  Width       235611 non-null  object
 17  sectID      235611 non-null  object
 18  tollSect    235611 non-null  object
 19  medSect     235611 non-null  object
 20  motorway    235611 non-null  object
 21  repLtdLvl   235611 non-null  object
 22  rtCode      235611 non-null  object
 23  lat         235611 non-null  object
 24  lon         235611 non-null  object
 25  fid_2       235611 non-null  object
 26  KEY_CODE    235611 non-null  object
 27  PREF        235611 non-null  object
 28  CITY        235611 non-null  object
 29  S_AREA      235611 non-null  object
 30  PREF_NAME   235611 non-null  object
 31  CITY_NAME   235611 non-null  object
 32  S_NAME      235611 non-null  object
 33  KIGO_E      235611 non-null  object
 34  HCODE       235611 non-null  object
 35  AREA        235611 non-null  object
 36  PERIMETER   235611 non-null  object
 37  R2KAxx      235611 non-null  object
 38  R2KAxx_ID   235611 non-null  object
 39  KIHON1      235611 non-null  object
 40  DUMMY1      235611 non-null  object
 41  KIHON2      235611 non-null  object
 42  KEYCODE1    235611 non-null  object
 43  KEYCODE2    235611 non-null  object
 44  AREA_MAX_F  235611 non-null  object
 45  KIGO_D      235611 non-null  object
 46  N_KEN       235611 non-null  object
 47  N_CITY      235611 non-null  object
 48  KIGO_I      235611 non-null  object
 49  KBSUM       235611 non-null  object
 50  JINKO       235611 non-null  object
 51  SETAI       235611 non-null  object
 52  X_CODE      235611 non-null  object
 53  Y_CODE      235611 non-null  object
 54  KCODE1      235611 non-null  object
 55  geometry    235611 non-null  geometry
dtypes: geometry(1), object(55)
memory usage: 100.7+ MB

In [ ]:
result.isnull().sum()

ANGLE              0
FC                 0
FUKASA             0
FUTAJIBAN1         0
FUTAJIBAN2         0
FUTAJIBAN3         0
FUTAJIBAN4         0
FUTAJIBAN5         0
FUTAKEY1      484887
FUTAKEY2      611961
FUTAKEY3      615983
FUTAKEY4      619988
FUTAKEY5      620023
FUTASUU            0
G1KANRI        41215
G1KYOKA       620034
G1KYOKAYMD         0
G2KANRI        41211
G2KYOKA       222038
G2KYOKAYMD         0
GAIKEIH            0
GAIKEIV            0
HAIJYO             0
HIKITUGI      103788
JIBANTAKA          0
JINSIN             0
JINX               0
JINY               0
KAIDAN             0
KANEDA             0
KENSETUYMD         0
KEY                0
KITEN              0
KUMITATE           0
NAIKEIH            0
NAIKEIV            0
PUMP               0
SISETU             0
SUISOKU            0
TAKASA             0
TYPE               0
YOTO               0
ZAISITU            0
ZANCHI             0
geometry           0
index_road         0
WKT                0
rID                0
lfSpanFr           0
lfSpanTo           0
tmpFlg             0
orgGILvl           0
ftCode             0
admCode            0
devDate            0
type               0
rdCtg              0
state              0
lvOrder            0
name               0
admOfcRd           0
rnkWidth           0
Width              0
sectID             0
tollSect           0
medSect            0
motorway           0
repLtdLvl          0
rtCode             0
lat                0
lon                0
fid_2              0
KEY_CODE           0
PREF               0
CITY               0
S_AREA             0
PREF_NAME          0
CITY_NAME          0
S_NAME             0
KIGO_E             0
HCODE              0
AREA               0
PERIMETER          0
R2KAxx             0
R2KAxx_ID          0
KIHON1             0
DUMMY1             0
KIHON2             0
KEYCODE1           0
KEYCODE2           0
AREA_MAX_F         0
KIGO_D             0
N_KEN              0
N_CITY             0
KIGO_I             0
KBSUM              0
JINKO              0
SETAI              0
X_CODE             0
Y_CODE             0
KCODE1             0
dtype: int64

## demo

In [ ]:
#ライブラリのインポート
import geopandas as gpd
from osgeo import osr, ogr, gdal
from pyproj import CRS
from shapely.geometry import Point
import copy
from geopandas.tools import sjoin_nearest

In [ ]:
#道路データとマンホールデータのパス
road_path = "C:/Users/jin12/Desktop/pre_intern/14100 (1).gpkg"
point_path = "C:/Users/jin12/Desktop/pre_intern/drive-download-20230716T102550Z-001/manfp_marge.shp"

In [ ]:
#道路データとマンホールデータをデータフレームで読み込む
road_data = gpd.read_file(road_path)
point_data = gpd.read_file(point_path)

In [ ]:
road_data.head()

,WKT,rID,lfSpanFr,lfSpanTo,tmpFlg,orgGILvl,ftCode,admCode,devDate,type,...,N_KEN,N_CITY,KIGO_I,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,geometry
0,"MULTILINESTRING ((139.670389056 35.470258527,1...",50280-12768-i-111,2022/06/06,,0,25000,2711,,,庭園路,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.67039 35.47026, 139.6683..."
1,"MULTILINESTRING ((139.669480483 35.472380181,1...",50280-12768-i-118,2022/06/06,,0,2500,2711,,2017/10/24,庭園路,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66948 35.47238, 139.6692..."
2,"MULTILINESTRING ((139.669480483 35.472380181,1...",50280-12768-i-117,2022/06/06,,0,2500,2701,,2017/10/24,通常部,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66948 35.47238, 139.6701..."
3,"MULTILINESTRING ((139.668721043 35.467976544,1...",50280-12768-i-115,2022/06/06,,0,2500,2711,,2017/10/24,庭園路,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66872 35.46798, 139.6710..."
4,"MULTILINESTRING ((139.670150145 35.470816418,1...",50280-12768-i-119,2022/06/06,,0,2500,2701,,2017/10/24,通常部,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.67015 35.47082, 139.6703..."

In [ ]:
road_data_test = road_data.drop('WKT',axis=1)

In [ ]:
road_data_test.head()

,rID,lfSpanFr,lfSpanTo,tmpFlg,orgGILvl,ftCode,admCode,devDate,type,rdCtg,...,N_KEN,N_CITY,KIGO_I,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,geometry
0,50280-12768-i-111,2022/06/06,,0,25000,2711,,,庭園路,市区町村道等,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.67039 35.47026, 139.6683..."
1,50280-12768-i-118,2022/06/06,,0,2500,2711,,2017/10/24,庭園路,市区町村道等,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66948 35.47238, 139.6692..."
2,50280-12768-i-117,2022/06/06,,0,2500,2701,,2017/10/24,通常部,市区町村道等,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66948 35.47238, 139.6701..."
3,50280-12768-i-115,2022/06/06,,0,2500,2711,,2017/10/24,庭園路,市区町村道等,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66872 35.46798, 139.6710..."
4,50280-12768-i-119,2022/06/06,,0,2500,2701,,2017/10/24,通常部,市区町村道等,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.67015 35.47082, 139.6703..."

In [ ]:
road_data_test.crs

<Geographic 2D CRS: GEOGCS["JGD2011",DATUM["Japanese_Geodetic_Datum_20 ...>
Name: JGD2011
Axis Info [ellipsoidal]:
- lon[east]: Longitude (Degree)
- lat[north]: Latitude (Degree)
Area of Use:
- undefined
Datum: Japanese Geodetic Datum 2011
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [ ]:
point_data.head()

,ANGLE,FC,FUKASA,FUTAJIBAN1,FUTAJIBAN2,FUTAJIBAN3,FUTAJIBAN4,FUTAJIBAN5,FUTAKEY1,FUTAKEY2,...,NAIKEIV,PUMP,SISETU,SUISOKU,TAKASA,TYPE,YOTO,ZAISITU,ZANCHI,geometry
0,137.0017,12245,0.0,82.12,0.0,0.0,0.0,0.0,1,None,...,0.0,0,0,0,0.0,2,0,14,0,POINT Z (-27800.381 -45295.275 0.000)
1,93.1242,12144,0.0,0.00,0.0,0.0,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT Z (-27800.582 -45293.185 0.000)
2,114.9992,12244,0.0,0.00,0.0,0.0,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT Z (-27818.468 -45177.203 0.000)
3,62.9993,12144,0.0,0.00,0.0,0.0,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT Z (-27817.067 -45181.984 0.000)
4,122.0005,12244,0.0,0.00,0.0,0.0,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT Z (-27818.815 -45190.237 0.000)

In [ ]:
point_data.crs

## memo

In [ ]:
#ライブラリのインポート
import geopandas as gpd

In [ ]:
#道路データとマンホールデータをデータフレームで読み込む
road_data = gpd.read_file(road_path)
point_data = gpd.read_file(point_path)

In [ ]:
#道路データの情報を確認
road_data.head()

,WKT,rID,lfSpanFr,lfSpanTo,tmpFlg,orgGILvl,ftCode,admCode,devDate,type,...,N_KEN,N_CITY,KIGO_I,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,geometry
0,"MULTILINESTRING ((139.670389056 35.470258527,1...",50280-12768-i-111,2022/06/06,,0,25000,2711,,,庭園路,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.67039 35.47026, 139.6683..."
1,"MULTILINESTRING ((139.669480483 35.472380181,1...",50280-12768-i-118,2022/06/06,,0,2500,2711,,2017/10/24,庭園路,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66948 35.47238, 139.6692..."
2,"MULTILINESTRING ((139.669480483 35.472380181,1...",50280-12768-i-117,2022/06/06,,0,2500,2701,,2017/10/24,通常部,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66948 35.47238, 139.6701..."
3,"MULTILINESTRING ((139.668721043 35.467976544,1...",50280-12768-i-115,2022/06/06,,0,2500,2711,,2017/10/24,庭園路,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66872 35.46798, 139.6710..."
4,"MULTILINESTRING ((139.670150145 35.470816418,1...",50280-12768-i-119,2022/06/06,,0,2500,2701,,2017/10/24,通常部,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.67015 35.47082, 139.6703..."

In [ ]:
road_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 235611 entries, 0 to 235610
Data columns (total 56 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   WKT         235611 non-null  object
 1   rID         235611 non-null  object
 2   lfSpanFr    235611 non-null  object
 3   lfSpanTo    235611 non-null  object
 4   tmpFlg      235611 non-null  object
 5   orgGILvl    235611 non-null  object
 6   ftCode      235611 non-null  object
 7   admCode     235611 non-null  object
 8   devDate     235611 non-null  object
 9   type        235611 non-null  object
 10  rdCtg       235611 non-null  object
 11  state       235611 non-null  object
 12  lvOrder     235611 non-null  object
 13  name        235611 non-null  object
 14  admOfcRd    235611 non-null  object
 15  rnkWidth    235611 non-null  object
 16  Width       235611 non-null  object
 17  sectID      235611 non-null  object
 18  tollSect    235611 non-null  object
 19  medSect     235611 non-null  object
 20  motorway    235611 non-null  object
 21  repLtdLvl   235611 non-null  object
 22  rtCode      235611 non-null  object
 23  lat         235611 non-null  object
 24  lon         235611 non-null  object
 25  fid_2       235611 non-null  object
 26  KEY_CODE    235611 non-null  object
 27  PREF        235611 non-null  object
 28  CITY        235611 non-null  object
 29  S_AREA      235611 non-null  object
 30  PREF_NAME   235611 non-null  object
 31  CITY_NAME   235611 non-null  object
 32  S_NAME      235611 non-null  object
 33  KIGO_E      235611 non-null  object
 34  HCODE       235611 non-null  object
 35  AREA        235611 non-null  object
 36  PERIMETER   235611 non-null  object
 37  R2KAxx      235611 non-null  object
 38  R2KAxx_ID   235611 non-null  object
 39  KIHON1      235611 non-null  object
 40  DUMMY1      235611 non-null  object
 41  KIHON2      235611 non-null  object
 42  KEYCODE1    235611 non-null  object
 43  KEYCODE2    235611 non-null  object
 44  AREA_MAX_F  235611 non-null  object
 45  KIGO_D      235611 non-null  object
 46  N_KEN       235611 non-null  object
 47  N_CITY      235611 non-null  object
 48  KIGO_I      235611 non-null  object
 49  KBSUM       235611 non-null  object
 50  JINKO       235611 non-null  object
 51  SETAI       235611 non-null  object
 52  X_CODE      235611 non-null  object
 53  Y_CODE      235611 non-null  object
 54  KCODE1      235611 non-null  object
 55  geometry    235611 non-null  geometry
dtypes: geometry(1), object(55)
memory usage: 100.7+ MB

In [ ]:
print(road_data.crs.to_epsg())

None

In [ ]:
#マンホールデータの情報を確認
point_data.head()

,ANGLE,FC,FUKASA,FUTAJIBAN1,FUTAJIBAN2,FUTAJIBAN3,FUTAJIBAN4,FUTAJIBAN5,FUTAKEY1,FUTAKEY2,...,SISETU,SUISOKU,TAKASA,TYPE,YOTO,ZAISITU,ZANCHI,geometry,Longitude,Latitude
0,137.0017,12245,0.0,82.12,0.0,0.0,0.0,0.0,1,None,...,0,0,0.0,2,0,14,0,POINT (36.000 139.835),36.000324,139.834884
1,93.1242,12144,0.0,0.00,0.0,0.0,0.0,0.0,None,None,...,0,0,0.0,1,0,14,0,POINT (36.000 139.835),36.000324,139.834884
2,114.9992,12244,0.0,0.00,0.0,0.0,0.0,0.0,None,None,...,0,0,0.0,1,0,14,0,POINT (36.000 139.835),36.000324,139.834884
3,62.9993,12144,0.0,0.00,0.0,0.0,0.0,0.0,None,None,...,0,0,0.0,1,0,14,0,POINT (36.000 139.835),36.000324,139.834884
4,122.0005,12244,0.0,0.00,0.0,0.0,0.0,0.0,None,None,...,0,0,0.0,1,0,14,0,POINT (36.000 139.835),36.000324,139.834884

In [ ]:
point_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 615193 entries, 0 to 615192
Data columns (total 45 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ANGLE       615193 non-null  float64
 1   FC          615193 non-null  int64
 2   FUKASA      615193 non-null  float64
 3   FUTAJIBAN1  615193 non-null  float64
 4   FUTAJIBAN2  615193 non-null  float64
 5   FUTAJIBAN3  615193 non-null  float64
 6   FUTAJIBAN4  615193 non-null  float64
 7   FUTAJIBAN5  615193 non-null  float64
 8   FUTAKEY1    133943 non-null  object
 9   FUTAKEY2    8019 non-null    object
 10  FUTAKEY3    4030 non-null    object
 11  FUTAKEY4    46 non-null      object
 12  FUTAKEY5    11 non-null      object
 13  FUTASUU     615193 non-null  int64
 14  G1KANRI     574383 non-null  object
 15  G1KYOKA     1 non-null       object
 16  G1KYOKAYMD  615193 non-null  int64
 17  G2KANRI     574387 non-null  object
 18  G2KYOKA     394898 non-null  object
 19  G2KYOKAYMD  615193 non-null  int64
 20  GAIKEIH     615193 non-null  float64
 21  GAIKEIV     615193 non-null  float64
 22  HAIJYO      615193 non-null  int64
 23  HIKITUGI    512267 non-null  object
 24  JIBANTAKA   615193 non-null  float64
 25  JINSIN      615193 non-null  float64
 26  JINX        615193 non-null  int64
 27  JINY        615193 non-null  int64
 28  KAIDAN      615193 non-null  int64
 29  KANEDA      615193 non-null  int64
 30  KENSETUYMD  615193 non-null  int64
 31  KEY         615193 non-null  object
 32  KITEN       615193 non-null  int64
 33  KUMITATE    615193 non-null  int64
 34  NAIKEIH     615193 non-null  float64
 35  NAIKEIV     615193 non-null  float64
 36  PUMP        615193 non-null  int64
 37  SISETU      615193 non-null  int64
 38  SUISOKU     615193 non-null  int64
 39  TAKASA      615193 non-null  float64
 40  TYPE        615193 non-null  int64
 41  YOTO        615193 non-null  int64
 42  ZAISITU     615193 non-null  int64
 43  ZANCHI      615193 non-null  int64
 44  geometry    615193 non-null  geometry
dtypes: float64(14), geometry(1), int64(19), object(11)
memory usage: 211.2+ MB

In [ ]:
print(point_data.crs)

None

In [ ]:
point_data_test = copy.deepcopy(point_data)

In [ ]:
crs = CRS.from_epsg(6677)
# CRSを付与する
point_data_test.crs = crs
print(point_data_test.crs)

epsg:6677

In [ ]:
point_data_test = point_data_test.to_crs("EPSG:4326")

In [ ]:
point_data_test

,ANGLE,FC,FUKASA,FUTAJIBAN1,FUTAJIBAN2,FUTAJIBAN3,FUTAJIBAN4,FUTAJIBAN5,FUTAKEY1,FUTAKEY2,...,NAIKEIV,PUMP,SISETU,SUISOKU,TAKASA,TYPE,YOTO,ZAISITU,ZANCHI,geometry
0,137.001700,12245,0.0,82.12,0.00,0.00,0.0,0.0,1,None,...,0.0,0,0,0,0.0,2,0,14,0,POINT (139.52655 35.59134)
1,93.124200,12144,0.0,0.00,0.00,0.00,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT (139.52654 35.59136)
2,114.999200,12244,0.0,0.00,0.00,0.00,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT (139.52634 35.59240)
3,62.999300,12144,0.0,0.00,0.00,0.00,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT (139.52636 35.59236)
4,122.000500,12244,0.0,0.00,0.00,0.00,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT (139.52634 35.59228)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615188,203.732706,12344,0.0,38.69,2.12,3.56,0.0,0.0,1,2,...,0.0,9,0,0,0.0,1,31,99,6,POINT (139.64986 35.54894)
615189,199.249267,12344,0.0,16.86,2.12,3.56,0.0,0.0,1,2,...,0.6,9,0,0,0.0,40,31,99,6,POINT (139.63280 35.52370)
615190,124.629046,12344,0.0,39.21,2.12,3.56,0.0,0.0,1,2,...,0.0,9,0,0,0.0,4,31,99,6,POINT (139.56299 35.53117)
615191,77.305967,12344,0.0,3.97,2.12,3.56,0.0,0.0,1,2,...,0.0,9,0,0,0.0,1,31,99,6,POINT (139.61734 35.52630)
615192,202.877326,12344,0.0,12.25,2.12,3.56,0.0,0.0,1,2,...,0.0,9,0,0,0.0,1,31,99,6,POINT (139.55077 35.52246)

In [ ]:
print(road_data_test.crs)

epsg:4326

In [ ]:
# JGD2011（Japanese Geodetic Datum 2011）のEPSGコード（6647）を設定
jgd2011_epsg = 1128

# EPSG:4326（WGS 84）のEPSGコード（4326）を設定
wgs84_epsg = 4326

# JGD2011からEPSG:4326に座標変換
road_data_test.to_crs(epsg=wgs84_epsg, inplace=True)

# 変換後のラインデータを表示（可視化や保存などの処理に利用）
print(road_data_test)

                       rID    lfSpanFr lfSpanTo tmpFlg orgGILvl ftCode  \
0        50280-12768-i-111  2022/06/06               0    25000   2711
1        50280-12768-i-118  2022/06/06               0     2500   2711
2        50280-12768-i-117  2022/06/06               0     2500   2701
3        50280-12768-i-115  2022/06/06               0     2500   2711
4        50280-12768-i-119  2022/06/06               0     2500   2701
...                    ...         ...      ...    ...      ...    ...
235606  50244-12804-i-8190  2022/06/06               0     2500   2701
235607  50244-12804-i-8187  2022/06/06               0     2500   2701
235608  50244-12804-i-8185  2022/06/06               0     2500   2701
235609  50244-12804-i-8181  2022/06/06               0     2500   2701
235610  50244-12804-i-8180  2022/06/06               0     2500   2701

       admCode     devDate type   rdCtg  ... N_KEN N_CITY KIGO_I KBSUM JINKO  \
0                           庭園路  市区町村道等  ...                        13    19
1               2017/10/24  庭園路  市区町村道等  ...                        13    19
2               2017/10/24  通常部  市区町村道等  ...                        13    19
3               2017/10/24  庭園路  市区町村道等  ...                        13    19
4               2017/10/24  通常部  市区町村道等  ...                        13    19
...        ...         ...  ...     ...  ...   ...    ...    ...   ...   ...
235606                      通常部  市区町村道等  ...                        22  1696
235607                      通常部  市区町村道等  ...                        22  1696
235608                      通常部  市区町村道等  ...                        22  1696
235609                      通常部  市区町村道等  ...                        22  1696
235610                      通常部  市区町村道等  ...                        22  1696

       SETAI      X_CODE     Y_CODE   KCODE1  \
0         19  139.674467  35.479431  0010-00
1         19  139.674467  35.479431  0010-00
2         19  139.674467  35.479431  0010-00
3         19  139.674467  35.479431  0010-00
4         19  139.674467  35.479431  0010-00
...      ...         ...        ...      ...
235606   580  139.566873  35.568595  0540-00
235607   580  139.566873  35.568595  0540-00
235608   580  139.566873  35.568595  0540-00
235609   580  139.566873  35.568595  0540-00
235610   580  139.566873  35.568595  0540-00

                                                 geometry
0       MULTILINESTRING ((139.67039 35.47026, 139.6683...
1       MULTILINESTRING ((139.66948 35.47238, 139.6692...
2       MULTILINESTRING ((139.66948 35.47238, 139.6701...
3       MULTILINESTRING ((139.66872 35.46798, 139.6710...
4       MULTILINESTRING ((139.67015 35.47082, 139.6703...
...                                                   ...
235606  MULTILINESTRING ((139.56834 35.56882, 139.5674...
235607  MULTILINESTRING ((139.56814 35.56855, 139.5676...
235608  MULTILINESTRING ((139.56814 35.56855, 139.5676...
235609  MULTILINESTRING ((139.56757 35.57036, 139.5684...
235610  MULTILINESTRING ((139.56752 35.56968, 139.5684...

[235611 rows x 55 columns]

In [ ]:
road_data_test

,rID,lfSpanFr,lfSpanTo,tmpFlg,orgGILvl,ftCode,admCode,devDate,type,rdCtg,...,N_KEN,N_CITY,KIGO_I,KBSUM,JINKO,SETAI,X_CODE,Y_CODE,KCODE1,geometry
0,50280-12768-i-111,2022/06/06,,0,25000,2711,,,庭園路,市区町村道等,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.67039 35.47026, 139.6683..."
1,50280-12768-i-118,2022/06/06,,0,2500,2711,,2017/10/24,庭園路,市区町村道等,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66948 35.47238, 139.6692..."
2,50280-12768-i-117,2022/06/06,,0,2500,2701,,2017/10/24,通常部,市区町村道等,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66948 35.47238, 139.6701..."
3,50280-12768-i-115,2022/06/06,,0,2500,2711,,2017/10/24,庭園路,市区町村道等,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.66872 35.46798, 139.6710..."
4,50280-12768-i-119,2022/06/06,,0,2500,2701,,2017/10/24,通常部,市区町村道等,...,,,,13,19,19,139.674467,35.479431,0010-00,"MULTILINESTRING ((139.67015 35.47082, 139.6703..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235606,50244-12804-i-8190,2022/06/06,,0,2500,2701,,,通常部,市区町村道等,...,,,,22,1696,580,139.566873,35.568595,0540-00,"MULTILINESTRING ((139.56834 35.56882, 139.5674..."
235607,50244-12804-i-8187,2022/06/06,,0,2500,2701,,,通常部,市区町村道等,...,,,,22,1696,580,139.566873,35.568595,0540-00,"MULTILINESTRING ((139.56814 35.56855, 139.5676..."
235608,50244-12804-i-8185,2022/06/06,,0,2500,2701,,,通常部,市区町村道等,...,,,,22,1696,580,139.566873,35.568595,0540-00,"MULTILINESTRING ((139.56814 35.56855, 139.5676..."
235609,50244-12804-i-8181,2022/06/06,,0,2500,2701,,,通常部,市区町村道等,...,,,,22,1696,580,139.566873,35.568595,0540-00,"MULTILINESTRING ((139.56757 35.57036, 139.5684..."
235610,50244-12804-i-8180,2022/06/06,,0,2500,2701,,,通常部,市区町村道等,...,,,,22,1696,580,139.566873,35.568595,0540-00,"MULTILINESTRING ((139.56752 35.56968, 139.5684..."

In [ ]:
point_data_test

,ANGLE,FC,FUKASA,FUTAJIBAN1,FUTAJIBAN2,FUTAJIBAN3,FUTAJIBAN4,FUTAJIBAN5,FUTAKEY1,FUTAKEY2,...,NAIKEIV,PUMP,SISETU,SUISOKU,TAKASA,TYPE,YOTO,ZAISITU,ZANCHI,geometry
0,137.001700,12245,0.0,82.12,0.00,0.00,0.0,0.0,1,None,...,0.0,0,0,0,0.0,2,0,14,0,POINT (35.748 139.333)
1,93.124200,12144,0.0,0.00,0.00,0.00,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT (35.748 139.333)
2,114.999200,12244,0.0,0.00,0.00,0.00,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT (35.748 139.334)
3,62.999300,12144,0.0,0.00,0.00,0.00,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT (35.748 139.334)
4,122.000500,12244,0.0,0.00,0.00,0.00,0.0,0.0,None,None,...,0.0,0,0,0,0.0,1,0,14,0,POINT (35.748 139.334)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615188,203.732706,12344,0.0,38.69,2.12,3.56,0.0,0.0,1,2,...,0.0,9,0,0,0.0,1,31,99,6,POINT (35.849 139.279)
615189,199.249267,12344,0.0,16.86,2.12,3.56,0.0,0.0,1,2,...,0.6,9,0,0,0.0,40,31,99,6,POINT (35.835 139.249)
615190,124.629046,12344,0.0,39.21,2.12,3.56,0.0,0.0,1,2,...,0.0,9,0,0,0.0,4,31,99,6,POINT (35.778 139.258)
615191,77.305967,12344,0.0,3.97,2.12,3.56,0.0,0.0,1,2,...,0.0,9,0,0,0.0,1,31,99,6,POINT (35.822 139.252)
615192,202.877326,12344,0.0,12.25,2.12,3.56,0.0,0.0,1,2,...,0.0,9,0,0,0.0,1,31,99,6,POINT (35.768 139.248)

In [ ]:
print(point_data_test.crs)

EPSG:4326

In [ ]:
point_data_test = point_data_test.to_crs(epsg=4326)
road_data_test = road_data_test.to_crs(epsg=4326)

In [ ]:
result = sjoin_nearest(point_data_test, road_data_test, how="left", lsuffix="point", rsuffix="road")

c:\Users\jin12\anaconda3\envs\god\lib\site-packages\geopandas\array.py:344: UserWarning: Geometry is in a geographic CRS. Results from 'sjoin_nearest' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  warnings.warn(

In [ ]:
print(result.columns)

Index(['ANGLE', 'FC', 'FUKASA', 'FUTAJIBAN1', 'FUTAJIBAN2', 'FUTAJIBAN3',
       'FUTAJIBAN4', 'FUTAJIBAN5', 'FUTAKEY1', 'FUTAKEY2', 'FUTAKEY3',
       'FUTAKEY4', 'FUTAKEY5', 'FUTASUU', 'G1KANRI', 'G1KYOKA', 'G1KYOKAYMD',
       'G2KANRI', 'G2KYOKA', 'G2KYOKAYMD', 'GAIKEIH', 'GAIKEIV', 'HAIJYO',
       'HIKITUGI', 'JIBANTAKA', 'JINSIN', 'JINX', 'JINY', 'KAIDAN', 'KANEDA',
       'KENSETUYMD', 'KEY', 'KITEN', 'KUMITATE', 'NAIKEIH', 'NAIKEIV', 'PUMP',
       'SISETU', 'SUISOKU', 'TAKASA', 'TYPE', 'YOTO', 'ZAISITU', 'ZANCHI',
       'geometry', 'index_road', 'rID', 'lfSpanFr', 'lfSpanTo', 'tmpFlg',
       'orgGILvl', 'ftCode', 'admCode', 'devDate', 'type', 'rdCtg', 'state',
       'lvOrder', 'name', 'admOfcRd', 'rnkWidth', 'Width', 'sectID',
       'tollSect', 'medSect', 'motorway', 'repLtdLvl', 'rtCode', 'lat', 'lon',
       'fid_2', 'KEY_CODE', 'PREF', 'CITY', 'S_AREA', 'PREF_NAME', 'CITY_NAME',
       'S_NAME', 'KIGO_E', 'HCODE', 'AREA', 'PERIMETER', 'R2KAxx', 'R2KAxx_ID',
       'KIHON1', 'DUMMY1', 'KIHON2', 'KEYCODE1', 'KEYCODE2', 'AREA_MAX_F',
       'KIGO_D', 'N_KEN', 'N_CITY', 'KIGO_I', 'KBSUM', 'JINKO', 'SETAI',
       'X_CODE', 'Y_CODE', 'KCODE1'],
      dtype='object')

In [ ]:
point_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 615193 entries, 0 to 615192
Data columns (total 45 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ANGLE       615193 non-null  float64
 1   FC          615193 non-null  int64
 2   FUKASA      615193 non-null  float64
 3   FUTAJIBAN1  615193 non-null  float64
 4   FUTAJIBAN2  615193 non-null  float64
 5   FUTAJIBAN3  615193 non-null  float64
 6   FUTAJIBAN4  615193 non-null  float64
 7   FUTAJIBAN5  615193 non-null  float64
 8   FUTAKEY1    133943 non-null  object
 9   FUTAKEY2    8019 non-null    object
 10  FUTAKEY3    4030 non-null    object
 11  FUTAKEY4    46 non-null      object
 12  FUTAKEY5    11 non-null      object
 13  FUTASUU     615193 non-null  int64
 14  G1KANRI     574383 non-null  object
 15  G1KYOKA     1 non-null       object
 16  G1KYOKAYMD  615193 non-null  int64
 17  G2KANRI     574387 non-null  object
 18  G2KYOKA     394898 non-null  object
 19  G2KYOKAYMD  615193 non-null  int64
 20  GAIKEIH     615193 non-null  float64
 21  GAIKEIV     615193 non-null  float64
 22  HAIJYO      615193 non-null  int64
 23  HIKITUGI    512267 non-null  object
 24  JIBANTAKA   615193 non-null  float64
 25  JINSIN      615193 non-null  float64
 26  JINX        615193 non-null  int64
 27  JINY        615193 non-null  int64
 28  KAIDAN      615193 non-null  int64
 29  KANEDA      615193 non-null  int64
 30  KENSETUYMD  615193 non-null  int64
 31  KEY         615193 non-null  object
 32  KITEN       615193 non-null  int64
 33  KUMITATE    615193 non-null  int64
 34  NAIKEIH     615193 non-null  float64
 35  NAIKEIV     615193 non-null  float64
 36  PUMP        615193 non-null  int64
 37  SISETU      615193 non-null  int64
 38  SUISOKU     615193 non-null  int64
 39  TAKASA      615193 non-null  float64
 40  TYPE        615193 non-null  int64
 41  YOTO        615193 non-null  int64
 42  ZAISITU     615193 non-null  int64
 43  ZANCHI      615193 non-null  int64
 44  geometry    615193 non-null  geometry
dtypes: float64(14), geometry(1), int64(19), object(11)
memory usage: 211.2+ MB

In [ ]:
road_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 235611 entries, 0 to 235610
Data columns (total 56 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   WKT         235611 non-null  object
 1   rID         235611 non-null  object
 2   lfSpanFr    235611 non-null  object
 3   lfSpanTo    235611 non-null  object
 4   tmpFlg      235611 non-null  object
 5   orgGILvl    235611 non-null  object
 6   ftCode      235611 non-null  object
 7   admCode     235611 non-null  object
 8   devDate     235611 non-null  object
 9   type        235611 non-null  object
 10  rdCtg       235611 non-null  object
 11  state       235611 non-null  object
 12  lvOrder     235611 non-null  object
 13  name        235611 non-null  object
 14  admOfcRd    235611 non-null  object
 15  rnkWidth    235611 non-null  object
 16  Width       235611 non-null  object
 17  sectID      235611 non-null  object
 18  tollSect    235611 non-null  object
 19  medSect     235611 non-null  object
 20  motorway    235611 non-null  object
 21  repLtdLvl   235611 non-null  object
 22  rtCode      235611 non-null  object
 23  lat         235611 non-null  object
 24  lon         235611 non-null  object
 25  fid_2       235611 non-null  object
 26  KEY_CODE    235611 non-null  object
 27  PREF        235611 non-null  object
 28  CITY        235611 non-null  object
 29  S_AREA      235611 non-null  object
 30  PREF_NAME   235611 non-null  object
 31  CITY_NAME   235611 non-null  object
 32  S_NAME      235611 non-null  object
 33  KIGO_E      235611 non-null  object
 34  HCODE       235611 non-null  object
 35  AREA        235611 non-null  object
 36  PERIMETER   235611 non-null  object
 37  R2KAxx      235611 non-null  object
 38  R2KAxx_ID   235611 non-null  object
 39  KIHON1      235611 non-null  object
 40  DUMMY1      235611 non-null  object
 41  KIHON2      235611 non-null  object
 42  KEYCODE1    235611 non-null  object
 43  KEYCODE2    235611 non-null  object
 44  AREA_MAX_F  235611 non-null  object
 45  KIGO_D      235611 non-null  object
 46  N_KEN       235611 non-null  object
 47  N_CITY      235611 non-null  object
 48  KIGO_I      235611 non-null  object
 49  KBSUM       235611 non-null  object
 50  JINKO       235611 non-null  object
 51  SETAI       235611 non-null  object
 52  X_CODE      235611 non-null  object
 53  Y_CODE      235611 non-null  object
 54  KCODE1      235611 non-null  object
 55  geometry    235611 non-null  geometry
dtypes: geometry(1), object(55)
memory usage: 100.7+ MB

In [ ]:
result.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 620035 entries, 0 to 615192
Data columns (total 100 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ANGLE        620035 non-null  float64
 1   FC           620035 non-null  int64
 2   FUKASA       620035 non-null  float64
 3   FUTAJIBAN1   620035 non-null  float64
 4   FUTAJIBAN2   620035 non-null  float64
 5   FUTAJIBAN3   620035 non-null  float64
 6   FUTAJIBAN4   620035 non-null  float64
 7   FUTAJIBAN5   620035 non-null  float64
 8   FUTAKEY1     135148 non-null  object
 9   FUTAKEY2     8074 non-null    object
 10  FUTAKEY3     4052 non-null    object
 11  FUTAKEY4     47 non-null      object
 12  FUTAKEY5     12 non-null      object
 13  FUTASUU      620035 non-null  int64
 14  G1KANRI      578820 non-null  object
 15  G1KYOKA      1 non-null       object
 16  G1KYOKAYMD   620035 non-null  int64
 17  G2KANRI      578824 non-null  object
 18  G2KYOKA      397997 non-null  object
 19  G2KYOKAYMD   620035 non-null  int64
 20  GAIKEIH      620035 non-null  float64
 21  GAIKEIV      620035 non-null  float64
 22  HAIJYO       620035 non-null  int64
 23  HIKITUGI     516247 non-null  object
 24  JIBANTAKA    620035 non-null  float64
 25  JINSIN       620035 non-null  float64
 26  JINX         620035 non-null  int64
 27  JINY         620035 non-null  int64
 28  KAIDAN       620035 non-null  int64
 29  KANEDA       620035 non-null  int64
 30  KENSETUYMD   620035 non-null  int64
 31  KEY          620035 non-null  object
 32  KITEN        620035 non-null  int64
 33  KUMITATE     620035 non-null  int64
 34  NAIKEIH      620035 non-null  float64
 35  NAIKEIV      620035 non-null  float64
 36  PUMP         620035 non-null  int64
 37  SISETU       620035 non-null  int64
 38  SUISOKU      620035 non-null  int64
 39  TAKASA       620035 non-null  float64
 40  TYPE         620035 non-null  int64
 41  YOTO         620035 non-null  int64
 42  ZAISITU      620035 non-null  int64
 43  ZANCHI       620035 non-null  int64
 44  geometry     620035 non-null  geometry
 45  index_right  620035 non-null  int64
 46  rID          620035 non-null  object
 47  lfSpanFr     620035 non-null  object
 48  lfSpanTo     620035 non-null  object
 49  tmpFlg       620035 non-null  object
 50  orgGILvl     620035 non-null  object
 51  ftCode       620035 non-null  object
 52  admCode      620035 non-null  object
 53  devDate      620035 non-null  object
 54  type         620035 non-null  object
 55  rdCtg        620035 non-null  object
 56  state        620035 non-null  object
 57  lvOrder      620035 non-null  object
 58  name         620035 non-null  object
 59  admOfcRd     620035 non-null  object
 60  rnkWidth     620035 non-null  object
 61  Width        620035 non-null  object
 62  sectID       620035 non-null  object
 63  tollSect     620035 non-null  object
 64  medSect      620035 non-null  object
 65  motorway     620035 non-null  object
 66  repLtdLvl    620035 non-null  object
 67  rtCode       620035 non-null  object
 68  lat          620035 non-null  object
 69  lon          620035 non-null  object
 70  fid_2        620035 non-null  object
 71  KEY_CODE     620035 non-null  object
 72  PREF         620035 non-null  object
 73  CITY         620035 non-null  object
 74  S_AREA       620035 non-null  object
 75  PREF_NAME    620035 non-null  object
 76  CITY_NAME    620035 non-null  object
 77  S_NAME       620035 non-null  object
 78  KIGO_E       620035 non-null  object
 79  HCODE        620035 non-null  object
 80  AREA         620035 non-null  object
 81  PERIMETER    620035 non-null  object
 82  R2KAxx       620035 non-null  object
 83  R2KAxx_ID    620035 non-null  object
 84  KIHON1       620035 non-null  object
 85  DUMMY1       620035 non-null  object
 86  KIHON2       620035 non-null  object
 87  KEYCODE1     620035 non-null  object
 88  KEYCODE2     620035 non-null  object
 89  AREA_MAX_F   620035 non-null  object
 90  KIGO_D       620035 non-null  object
 91  N_KEN        620035 non-null  object
 92  N_CITY       620035 non-null  object
 93  KIGO_I       620035 non-null  object
 94  KBSUM        620035 non-null  object
 95  JINKO        620035 non-null  object
 96  SETAI        620035 non-null  object
 97  X_CODE       620035 non-null  object
 98  Y_CODE       620035 non-null  object
 99  KCODE1       620035 non-null  object
dtypes: float64(14), geometry(1), int64(20), object(65)
memory usage: 477.8+ MB